@import '../../define.scss';

$v-padding: 15px;
$border-radius: 5px;

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-500;
  cursor: pointer;
  width: 1em;
  height: 1em;
  transition: color 100ms;

  :global(svg) {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: adjust-color($color: $gray-500, $lightness: -10%);
  }

  &:active {
    color: adjust-color($color: $gray-500, $lightness: -20%);
  }
}

.tabular-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.tabular {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  padding: 10px;
}

.feature-content {
  background-color: white;
  font-size: 0.9rem;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .top-section {
    display: flex;
    align-items: baseline;
    color: $gray-600;
    gap: 7px;
    margin-bottom: 5px;

    .section-name {
      font-size: $font-u2;
      font-weight: 800;
    }

    .section-description {
      font-size: 1rem;
    }

    .svg-icon {
      width: 18px;
      height: 18px;
      transform: translateY(3px);
    }
  }
}

.feature-box {
  display: flex;
  flex-direction: column;

  padding: 10px $v-padding;
  border: 1px solid $gray-light-border;
  border-radius: $border-radius;
}

.feature-header {
  font-size: $font-u2;
  font-weight: 700;
  margin-bottom: 5px;

  &.cat {
    margin-top: 16px;
  }
}

.content-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .name {
      flex: 0 0 auto;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    .feature-input {
      width: 100%;
      min-width: 30px;

      box-sizing: border-box;
    }
  }
}

.content-cat {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .name {
      flex: 0 0 auto;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    .feature-select {
      width: 100%;
      min-width: 30px;

      box-sizing: border-box;
    }
  }
}
