@import '../../define.scss';

$v-padding: 15px;
$border-radius: 5px;

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-500;
  cursor: pointer;
  width: 1em;
  height: 1em;
  transition: color 100ms;

  :global(svg) {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: adjust-color($color: $gray-500, $lightness: -10%);
  }

  &:active {
    color: adjust-color($color: $gray-500, $lightness: -20%);
  }
}

.tabular-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.tabular {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  padding: 20px 30px;
}

.feature-content {
  background-color: white;
  font-size: 0.9rem;
  width: 400px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .top-section {
    display: flex;
    align-items: baseline;
    color: $gray-600;
    gap: 4px;
    margin-bottom: 5px;

    .section-name {
      font-size: $font-u2;
      font-weight: 800;
    }

    .section-description {
      font-size: $font-d1;
      font-variant-numeric: tabular-nums;
    }

    .svg-icon {
      margin-left: 4px;
      width: 16px;
      height: 16px;
      transform: translateY(2px);
    }
  }
}

.feature-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 15px;

  padding: 10px 20px;
  border: 1px solid $gray-light-border;
  border-radius: $border-radius;
}

.feature-header {
  font-size: $font-u1;
  font-weight: 600;
  margin-bottom: 5px;
}

.feature-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  // gap: 6px;

  .input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .name {
      flex: 0 0 auto;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    .feature-input {
      width: 100%;
      min-width: 30px;

      box-sizing: border-box;
    }
  }
}

.content-cat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  // gap: 6px;

  .input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .name {
      flex: 0 0 auto;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    .feature-select {
      width: 100%;
      min-width: 30px;

      box-sizing: border-box;
    }
  }
}

.model-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  gap: 10px;
}

.output-content {
  background-color: white;
  font-size: 0.9rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .top-section {
    display: flex;
    align-items: baseline;
    color: $gray-600;
    gap: 4px;
    margin-bottom: 5px;

    .section-name {
      font-size: $font-u2;
      font-weight: 800;
    }

    .section-description {
      font-size: $font-d1;
      font-variant-numeric: tabular-nums;
    }

    .svg-icon {
      margin-left: 4px;
      width: 16px;
      height: 16px;
      transform: translateY(2px);
    }
  }
}

.output-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  padding: 10px 20px;
  border: 1px solid $gray-light-border;
  border-radius: $border-radius;
}

.explain-content {
  background-color: white;
  font-size: 0.9rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .top-section {
    display: flex;
    align-items: baseline;
    color: $gray-600;
    gap: 4px;
    margin-bottom: 5px;

    .section-name {
      font-size: $font-u2;
      font-weight: 800;
    }

    .section-description {
      font-size: $font-d1;
      font-variant-numeric: tabular-nums;
    }

    .svg-icon {
      margin-left: 4px;
      width: 16px;
      height: 16px;
      transform: translateY(2px);
    }
  }
}

.explain-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  padding: 10px 20px;
  border: 1px solid $gray-light-border;
  border-radius: $border-radius;
}
