@import '../../define.scss';

$v-padding: 15px;
$border-radius: 5px;
$block-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.05);
$right-content-left-margin: 25px;
$arrow-color: $gray-300;

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  cursor: pointer;
  width: 1em;
  height: 1em;
  transition: color 100ms;

  :global(svg) {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: adjust-color($color: $gray-500, $lightness: -10%);
  }

  &:active {
    color: adjust-color($color: $gray-500, $lightness: -20%);
  }

  &.no-pointer {
    pointer-events: none;
  }
}

.tabular-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.tabular {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 23px;

  display: grid;
  grid-template-rows: min-content min-content min-content min-content 1fr;
  grid-template-columns:
    [col1-start] minmax(min-content, 340px) [col2-start] minmax(200px, 0.5fr)
    [col3-start] 1fr [col3-end];

  align-items: center;
  justify-items: center;
}

.feature-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  grid-row: 2 / 6;
  grid-column: 1 / 2;

  height: 100%;
  width: 100%;
  font-size: 0.9rem;
  overflow-y: auto;

  padding: 10px 20px;
  border: 1px solid $gray-light-border;
  border-radius: $border-radius;
  box-shadow: $block-shadow;

  .content-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    font-family: 'lato';

    .input-wrapper {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .name {
        flex: 0 0 auto;
      }

      .feature-input {
        width: 100%;
        min-width: 30px;

        box-sizing: border-box;
      }
    }
  }

  .content-cat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .input-wrapper {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .name {
        flex: 0 0 auto;
      }

      .feature-select {
        width: 100%;
        min-width: 30px;

        box-sizing: border-box;
      }
    }
  }

  .feature-header {
    font-size: $font-u1;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .feature-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.data-model-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 2 / 3;
  grid-column: 2 / 3;

  width: 100%;

  .background {
    position: relative;
    width: 100%;
    height: 10px;

    .start-rectangle {
      position: absolute;
      left: 0px;
      height: 100%;
      width: calc(100% - 20px);
      background-color: $arrow-color;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      .content-box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;

        padding: 5px 10px;
        border: 1px solid $gray-light-border;
        border-radius: $border-radius;
        box-shadow: $block-shadow;
        background: white;
        color: $gray-600;

        .line {
          display: flex;
          align-items: center;
          gap: 4px;
          line-height: 1;

          .name {
            font-size: $font-u2;
            font-weight: 800;
          }

          .model {
            font-size: $font-u2;
          }

          .svg-icon {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    .end-triangle {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 20px solid $arrow-color;
    }
  }
}

.model-explain-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 3 / 4;
  grid-column: 3 / 4;

  height: 90px;

  .background {
    position: relative;
    width: 10px;
    height: 100%;

    .start-rectangle {
      position: absolute;
      top: 0px;
      width: 100%;
      height: calc(100% - 20px);
      background-color: $arrow-color;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      .content-box {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;

        padding: 4px 10px;
        border: 1px solid $gray-light-border;
        border-radius: $border-radius;
        box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.05);

        background-color: $gray-900;
        color: white;

        .name {
          font-size: $font-u2;
          font-weight: 800;
        }

        .svg-icon {
          width: 20px;
          height: 20px;
        }

        // .control-panel {
        //   position: absolute;
        //   z-index: -1;
        //   left: 0px;
        //   top: 50%;
        //   transform: translateX(-110%) translateY(-50%);
        //   background-color: $red-50;

        //   display: flex;
        //   flex-direction: column;
        // }
      }
    }

    .end-triangle {
      position: absolute;
      right: 50%;
      bottom: 0px;
      transform: translateX(50%);
      z-index: 1;

      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 20px solid $arrow-color;
    }
  }
}

.top-section {
  display: flex;
  align-items: baseline;
  color: $gray-600;
  gap: 4px;
  margin-bottom: 1px;

  .section-name {
    font-size: $font-u2;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .section-description {
    font-size: $font-d1;
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .svg-icon {
    margin-left: 1px;
    width: 16px;
    height: 16px;
    transform: translateY(2px);
  }

  &.feature {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &.output {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}

@keyframes fadeIn {
  from: {
    opacity: 0%;
  }

  to: {
    opacity: 100%;
  }
}

.output-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  grid-row: 2 / 3;
  grid-column: 3 / 4;

  padding: 10px 15px;
  border: 1px solid $gray-light-border;
  border-radius: $border-radius;
  box-shadow: $block-shadow;

  .label-container {
    position: relative;
    flex-shrink: 0;

    .label {
      position: absolute;
      top: 0px;
      left: 0px;

      display: flex;
      gap: 4px;
      align-items: center;

      font-weight: 600;
      opacity: 100%;
      transition: opacity 100ms ease-in-out;

      &.placeholder {
        position: relative;
      }

      &.approval {
        color: $blue-500;
      }

      &.rejection {
        color: $pink-300;
      }

      &.hidden {
        opacity: 0%;
        pointer-events: none;
      }
    }
  }

  .pred-bar {
    flex-grow: 1;
    padding: 0 0px;
    display: flex;
    align-items: center;

    .pred-bar-svg {
      width: 100%;
      height: 20px;

      :global(.back-rect) {
        fill: $gray-300;
      }

      :global(.top-rect) {
        fill: $pink-200;
        transition: width 200ms ease-in-out, fill 200ms linear;
      }

      :global(.top-rect.approval) {
        fill: $blue-400;
      }

      :global(.threshold) {
        fill: $gray-700;
      }
    }
  }

  .pred-number {
    font-variant-numeric: tabular-nums;
  }
}

.explain-content {
  grid-row: 5 / 6;
  grid-column: 2 / 4;
  width: 100%;
  height: 100%;
  display: flex;

  .arrow {
    width: $right-content-left-margin;
    position: relative;
  }

  .explain-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .top-section {
      transform: translateY(-4px);
      line-height: 1;
      margin-bottom: 1px;

      .svg-icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  .explain-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    padding: 10px 0px;
    border: 1px solid $gray-light-border;
    border-radius: $border-radius;
    box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.05);

    .header {
      font-size: $font-u1;
      font-weight: 600;
      margin-bottom: 5px;

      .shap-label {
        padding: 1px 4px;
        border-radius: 4px;
        background: linear-gradient(
          135deg,
          change-color($pink-100, $alpha: 0.8) 0%,
          change-color($blue-100, $alpha: 0.8) 100%
        );
      }
    }

    .shap-svg {
      width: 100%;
      height: 100%;
      // background-color: $blue-gray-50;
      font-family: 'lato';

      :global(.row .feature-name) {
        text-anchor: end;
        dominant-baseline: middle;
        font-size: 15px;
        cursor: default;
      }

      :global(.row .shap-bar) {
        fill: $blue-400;
      }

      :global(.row .shap-bar.negative) {
        fill: $pink-200;
      }

      :global(.axis-group .tick) {
        font-size: 14px;
      }

      :global(.grid-rect) {
        fill: $gray-900;
      }

      :global(.grid-line) {
        stroke: hsla(0, 0%, 0%, 0.1);
        stroke-dasharray: 4;
      }

      :global(.shap-number) {
        text-anchor: end;
        dominant-baseline: middle;
        fill: $blue-400;
      }

      :global(.shap-number.negative) {
        text-anchor: start;
        dominant-baseline: middle;
        fill: $pink-400;
      }
    }
  }
}
