@import '../../define.scss';

$v-padding: 15px;
$border-radius: 5px;
$block-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.1),
  0px 0px 6px hsla(0, 0%, 0%, 0.05);
$right-content-left-margin: 25px;
$arrow-color: $gray-300;

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  cursor: pointer;
  width: 1em;
  height: 1em;
  transition: color 100ms;

  :global(svg) {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: adjust-color($color: $gray-500, $lightness: -10%);
  }

  &:active {
    color: adjust-color($color: $gray-500, $lightness: -20%);
  }

  &.no-pointer {
    pointer-events: none;
  }
}

.image-classifier-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.image-classifier {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 23px;
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper {
  display: flex;
  flex-direction: center;
  align-items: center;
}

:global(.hidden-canvas) {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.image-pair {
  display: flex;
  gap: 10px;
}
