@import '../../define.scss';

.webshap-page {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;

  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;

  position: relative;
  background-color: adjust-color($color: $blue-900, $lightness: -20%);
}

.app-wrapper {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  max-height: 950px;
}

.app-title {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px 8px 10px;
  user-select: none;
  -webkit-user-select: none;

  color: white;
  line-height: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .title-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .app-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;

      :global(svg) {
        width: 100%;
        height: 100%;
      }
    }

    .app-info {
      display: flex;
      align-items: baseline;
      gap: 10px;

      .app-name {
        font-size: 32px;
        font-weight: 600;
      }

      .app-tagline {
        font-size: 26px;
        font-weight: 200;
        color: white;
      }
    }
  }

  .title-right {
    .title-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      color: white;
      cursor: pointer;
      transition: color 100ms ease-in-out;

      &:hover {
        color: $blue-100;
      }

      &:active {
        color: $blue-200;
      }

      :global(svg) {
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
    }
  }
}

.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  // width: max(min(1000px, calc(100vw - 50px)), calc(100vw - 400px));
  width: min(1000px, calc(100vw - 50px));
  height: 600px;
  border-radius: $border-radius;
  background-color: white;
  overflow: hidden;
}

.main-app-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  border-radius: $border-radius;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.description-panel {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding-right: 12px;

  color: $gray-300;

  .text-blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 23ch;

    p {
      text-align: right;
    }

    ul {
      text-align: right;
      list-style-position: inside;
    }

    a {
      color: currentColor;
      text-decoration: underline;
      text-decoration-color: $gray-500;

      &:hover {
        color: white;
      }
    }
  }
}
